.main-defaultPage {
  width: 100%;
  height: 100%;
  background-color: rgb(10, 162, 209);

  display: grid;

  grid-template-rows: 1fr 15vh;
}

.homeButtonLink-defaultPage {
  text-decoration: none;
  align-self: center;
  justify-self: center;
}

.homeButton-defaultPage {
  width: fit-content;
  padding-inline: 30px;
  height: 50%;
  font-size: 2vh;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(31, 137, 169);
  font-family: "Roboto Mono", monospace;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.errorLine-defaultPage {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
}

.homeButton-defaultPage:hover {
  background-color: rgb(35, 178, 217);
  border: 2px solid black;
  display: flex;
  align-items: center;
}
