#board{
    width: 25vw;
    height: 25vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 0.5vw solid black;
    background-color: azure;
}

.block{
    border: 0.1vw solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 3vw;
}



.rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.main-gamePage{
    width: 100%;
    height: 100%;
    background-color: rgb(10, 162, 209);;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


.upperSection-gamePage{
    display: flex;
    width: 100%;
    max-height: 3vw;
    justify-content: space-between;
}

.homeButtonLink-gamePage{
    text-decoration: none;
    /* align-self: flex-start; */
    margin-left: 2vw;
}

.HeadLine-gamePage{
    font-size: 4vw;
    margin: 0;
    color: white;
    font-family: "Roboto Mono", monospace;
}


.homeButton-gamePage{
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
    border: 0.2vw solid black;
    border-radius: 1vw;
    background-color: rgb(31, 137, 169);
    font-family: "Roboto Mono", monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.homeButton-gamePage:hover{
    background-color: rgb(35, 178, 217);
    border: 0.3vw solid black;
}

.countMoveShow-gamePage{
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
    border: 0.2vw solid black;
    border-radius: 1vw;
    background-color: rgb(31, 137, 169);
    font-family: "Roboto Mono", monospace;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-right: 2vw;


}