.main-homePage {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(10, 162, 209);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#homePage-headLine {
  font-size: 5vw;
  color: white;
  /* font-family: Roboto Mono; */
  font-family: "Roboto Mono", monospace;
}

.links-div-homePage {
  /* height: 26vw;
  max-height: 26vw; */
  height: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.buttonArea-homePage{
  height: 9vw;
  display: flex;
  align-items: center;
}

.gamesButton {
  width: 20vw;
  height: 7vw;
  font-size: 2.5vw;
  border: 0.2vw solid black;
  border-radius: 1vw;
  background-color: rgb(31, 137, 169);
  font-family: "Roboto Mono", monospace;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.gamesLink {
  text-decoration: none;
}

.gamesButton:hover {
  background-color: rgb(35, 178, 217);
  border: 0.3vw solid black;
}
