.links-div-choosingOpponent-Page {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.gamesButtons-choosingOpponent-Page {
  width: 60%;
  height: 20%;

  font-size: 2.5vw;
  border: 1px solid black;
  border-radius: 1vw;
  background-color: rgb(31, 137, 169);
  font-family: "Roboto Mono", monospace;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.gamesButtons-choosingOpponent-Page:hover {
  background-color: rgb(35, 178, 217);
  border: 2px solid black;
}
